# Created by .ignore support plugin (hsz.mobi)
.idea/
*.iml
target/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
sendgrid.env
mailgun.env
